In [ ]:
# Data Science Library Integrations

# Overview
`redshift_connector` provides integration with [pandas](https://github.com/pandas-dev/pandas) and [numpy](https://github.com/numpy/numpy) to enable everyone who works with data a simple interface for reading and writing data to and from Amazon Redshift.

## Retrieving data as a `pandas.DataFrame`
`redshift_connector`'s `fetch_dataframe()` method allows users to directly retrieve result sets as a `pandas.DataFrame`. An example workflow using this function is shown below

In [ ]:
import pandas
import redshift_connector
with redshift_connector.connect(
    host='examplecluster.abc123xyz789.us-west-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='my_password'
) as conn:
    with conn.cursor() as cursor:
        cursor.execute("create Temp table book(bookname varchar,author‎ varchar)")
        cursor.executemany("insert into book (bookname, author‎) values (%s, %s)",
                           [
                               ('One Hundred Years of Solitude', 'Gabriel García Márquez'),
                               ('A Brief History of Time', 'Stephen Hawking')

                           ])
        cursor.execute("select * from book")
        result: pandas.DataFrame = cursor.fetch_dataframe()
        print(result)

## Retrieving data as a `numpy.ndarray`
`redshift_connector`'s `fetch_numpy_array()` method allows users to directly retrieve result sets as a `numpy.ndarray`. An example workflow using this function is shown below

In [ ]:
import numpy
import redshift_connector
with redshift_connector.connect(
    host='examplecluster.abc123xyz789.us-west-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='my_password'
) as conn:
    with conn.cursor() as cursor:
        cursor.execute("create Temp table book(bookname varchar,author‎ varchar)")
        cursor.executemany("insert into book (bookname, author‎) values (%s, %s)",
                           [
                               ('One Hundred Years of Solitude', 'Gabriel García Márquez'),
                               ('A Brief History of Time', 'Stephen Hawking')

                           ])
        cursor.execute("select * from book")
        result: numpy.ndarray = cursor.fetch_numpy_array()
        print(result)

## Inserting a `pandas.DataFrame` into an Amazon Redshift database table
`redshift_connector`'s `write_dataframe()` method allows users to directly insert a`pandas.DataFrame` to a database table. An example workflow using this function is shown below

In [ ]:
import numpy as np
import pandas as pd
import redshift_connector

df: pd.DataFrame = pd.DataFrame(
    np.array(
        [
            ["One Hundred Years of Solitude", "Gabriel García Márquez"],
            ["A Brief History of Time", "Stephen Hawking"],
        ]
    ),
    columns=["bookname", "author‎"],
)

with redshift_connector.connect(
    host='examplecluster.abc123xyz789.us-west-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='my_password'
) as conn:
    with conn.cursor() as cursor:
        cursor.execute("create Temp table book(bookname varchar,author‎ varchar)")
        cursor.write_dataframe(df, "book")
        cursor.execute("select * from book;")
        result = cursor.fetchall()
        print(result)